.ai-chat {
  --padding-left: 36px;
  height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  color: var(--app-text-color);
  box-sizing: border-box;
  &__content {
    padding-top: 0;
    box-sizing: border-box;

    .avatar {
      float: left;
    }

    .content {
      padding-left: var(--padding-left);
      padding-right: var(--padding-left);

      :deep(ol) {
        margin-left: 16px !important;
      }
    }
  }
  &.log,
  &.debug-ai-chat {
    height: 100%;
  }
}

.chat-width {
  max-width: 80%;
  margin: 0 auto;
}
@media only screen and (max-width: 1000px) {
  .chat-width {
    max-width: 100% !important;
    margin: 0 auto;
  }
}
.chat-mobile {
}
