@font-face {
  font-family: AlibabaPuHuiTi;
  src: url('./font/AlibabaPuHuiTi-3-55-Regular.woff2') format('woff2');
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
  color: #232a35;
  background: #f7f9fc;
  font-family:
    AlibabaPuHuiTi,
    Inter,
    "PingFang SC",
    "Microsoft YaHei",
    Arial,
    sans-serif;
}
