@font-face {
  font-family: AlibabaPuHuiTi;
  src:
    url('./font/AlibabaPuHuiTi-3-55-Regular.woff') format('woff'),
    url('./font/AlibabaPuHuiTi-3-55-Regular.ttf') format('truetype'),
    url('./font/AlibabaPuHuiTi-3-55-Regular.eot') format('eot'),
    url('./font/AlibabaPuHuiTi-3-55-Regular.otf') format('opentype'),
    url('./font/AlibabaPuHuiTi-3-55-Regular.woff2') format('woff2');
}
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'PingFang SC', AlibabaPuHuiTi !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--el-text-color-primary);
}

#app {
  height: 100%;
}

:focus {
  outline: none;
}

a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* 滚动条整体部分 */
::-webkit-scrollbar {
  width: 6px; // 纵向滚动条宽度
  height: 6px; // 横向滚动条高度
}

/* 滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

/* 轨道 */
::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: transparent;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
  font-weight: 500;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
  font-weight: 500;
}

.bold {
  font-weight: 600;
}
.medium {
  font-weight: 500;
}
.lighter {
  font-weight: 400;
}

.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.w-120 {
  width: 120px;
}
.w-240 {
  width: 240px;
}
.w-280 {
  width: 280px;
}
.w-500 {
  width: 500px;
}
.max-w-200 {
  max-width: 200px;
}
.max-w-350 {
  max-width: 350px;
}

.mt-4 {
  margin-top: calc(var(--app-base-px) - 4px);
}

.mt-8 {
  margin-top: var(--app-base-px);
}
.mt-12 {
  margin-top: calc(var(--app-base-px) + 4px);
}
.mt-16 {
  margin-top: calc(var(--app-base-px) * 2);
}
.mt-20 {
  margin-top: calc(var(--app-base-px) * 2 + 4px);
}
.mt-24 {
  margin-top: calc(var(--app-base-px) * 3);
}

.mb-4 {
  margin-bottom: calc(var(--app-base-px) - 4px);
}
.mb-8 {
  margin-bottom: var(--app-base-px);
}
.mb-12 {
  margin-bottom: calc(var(--app-base-px) + 4px);
}
.mb-16 {
  margin-bottom: calc(var(--app-base-px) * 2);
}
.mb-24 {
  margin-bottom: calc(var(--app-base-px) * 3);
}
.ml-4 {
  margin-left: calc(var(--app-base-px) - 4px);
}
.ml-8 {
  margin-left: var(--app-base-px);
}
.ml-12 {
  margin-left: calc(var(--app-base-px) + 4px);
}
.ml-16 {
  margin-left: calc(var(--app-base-px) * 2);
}
.ml-24 {
  margin-left: calc(var(--app-base-px) * 3);
}
.mr-4 {
  margin-right: calc(var(--app-base-px) - 4px);
}
.mr-8 {
  margin-right: var(--app-base-px);
}
.mr-12 {
  margin-right: calc(var(--app-base-px) + 4px);
}
.mr-16 {
  margin-right: calc(var(--app-base-px) * 2);
}
.mr-24 {
  margin-right: calc(var(--app-base-px) * 3);
}
.p-8 {
  padding: var(--app-base-px);
}
.p-16 {
  padding: calc(var(--app-base-px) * 2);
}
.p-24 {
  padding: calc(var(--app-base-px) * 3);
}
.p-8-12 {
  padding: calc(var(--app-base-px)) calc(var(--app-base-px) + 4px);
}
.p-8-16 {
  padding: calc(var(--app-base-px)) calc(var(--app-base-px) * 2);
}
.p-12-16 {
  padding: calc(var(--app-base-px) + 4px) calc(var(--app-base-px) * 2);
}
.p-12-24 {
  padding: calc(var(--app-base-px) + 4px) calc(var(--app-base-px) * 3);
}
.p-16-24 {
  padding: calc(var(--app-base-px) * 2) calc(var(--app-base-px) * 3);
}

.pt-0 {
  padding-top: 0;
}
.pb-0 {
  padding-bottom: 0;
}

.float-right {
  float: right;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.align-center {
  align-items: center;
}

.align-baseline {
  align-items: baseline;
}

.justify-center {
  justify-content: center;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.vertical-middle {
  vertical-align: middle;
}

.line-height-22 {
  line-height: 22px;
}

.border {
  border: 1px solid var(--el-border-color);
}

.border-l {
  border-left: 1px solid var(--el-border-color);
}

.border-b {
  border-bottom: 1px solid var(--el-border-color);
}
.border-r {
  border-right: 1px solid var(--el-border-color);
}
.border-t {
  border-top: 1px solid var(--el-border-color);
}

.border-b-light {
  border-bottom: 1px solid var(--el-border-color-lighter);
}

.border-r-6 {
  border-radius: var(--app-border-radius-small);
}
.border-r-8 {
  border-radius: var(--app-border-radius-base);
}

.border-t-dashed {
  border-top: 1px dashed var(--el-border-color);
}
.border-primary {
  border: 1px solid var(--el-color-primary);
  color: var(--el-color-primary);
}

.border-none {
  border: none;
}

.cursor {
  cursor: pointer;
}
.notAllowed {
  cursor: not-allowed;
}

/*
  超出省略号
*/

.ellipsis {
  display: inline-block;
  max-width: 130px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/*
  双行超出省略号，其他行数自定义 -webkit-line-clamp
*/
.ellipsis-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.ellipsis-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  word-break: break-all;
}

.break-all {
  word-break: break-all;
}

.pre-wrap {
  white-space: pre-wrap;
}

// 颜色

.color-primary {
  color: var(--el-color-primary);
}

.color-danger {
  color: var(--el-color-danger);
}
.color-warning {
  color: var(--el-color-warning);
}
.color-success {
  color: var(--el-color-success);
}
.color-info {
  color: var(--el-color-info);
}
.color-text-primary {
  color: var(--el-text-color-primary);
}
.color-secondary {
  color: var(--app-text-color-secondary);
}
.color-input-placeholder {
  color: var(--app-input-color-placeholder);
}

/*
  头像渐变背景
*/
.avatar-gradient {
  background: var(--app-avatar-gradient-color);
}

.avatar-light {
  background: var(--el-color-primary-light-3);
}
.avatar-purple {
  background: #7f3bf5;
}
.avatar-green {
  background: var(--el-color-success);
}
.avatar-blue {
  background: #3370ff;
}

.avatar-orange {
  background: #ff8800;
}

.layout-bg {
  background: var(--app-layout-bg-color);
}
.white-bg {
  background: #ffffff;
}

/*
  标题前带竖线样式
*/
.title-decoration-1 {
  position: relative;
  padding-left: 12px;
  &:before {
    position: absolute;
    left: 2px;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 80%;
    content: '';
    background: var(--el-color-primary);
  }
}

/* tag */
.default-tag {
  background: var(--el-color-primary-light-8);
  color: var(--el-color-primary);
  border: none;
}
.danger-tag {
  background: var(--tag-danger-bg);
  color: #d03f3b;
  border: none;
}
.success-tag {
  background: var(--tag-success-bg);
  color: var(--tag-success-color);
  border: none;
}
.warning-tag {
  background: var(--tag-warning-bg);
  color: var(--tag-warning-color);
  border: none;
}

.info-tag {
  background: var(--app-text-color-light-1);
  color: var(--app-text-color-secondary);
  border: none;
}

.blue-tag {
  background: var(--tag-default-bg);
  color: var(--tag-default-color);
  border: none;
}

// 蓝色提示框
.update-info {
  background: #d6e2ff;
  line-height: 25px;
}

/*
  card 无边框无阴影 灰色背景
*/
.card-never {
  background: var(--app-layout-bg-color);
  border: none !important;
}

/*
   图标旋转90度
*/
.rotate-90 {
  transform: rotateZ(90deg);
}
.rotate-180 {
  transform: rotateZ(180deg);
}

/*
  内容部分 自适应高度
*/
.main-calc-height {
  height: var(--app-main-height);
  box-sizing: border-box;
}

// 自定义主题
.custom-header {
  background: var(--el-color-primary-light-9) !important;
}

.chat-background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
