:root {
  --el-color-primary: #3370FF;
  --el-menu-item-height: 45px;
  --el-box-shadow-light: 0px 2px 4px 0px rgba(31, 35, 41, 0.12);
  --el-border-color: #dee0e3;
  --el-text-color-regular: #1f2329;
  --el-color-info: #8f959e !important;
}

.el-button {
  --el-button-font-weight: 400;
  padding: 5px 12px;
  &.is-text {
    padding: 4px !important;
    font-size: 16px;
    max-height: 24px;
    &:not(.is-disabled):hover {
      background: var(--app-text-color-light-1);
    }
  }
  &:focus {
    color: var(--el-button-text-color);
    background-color: var(--el-button-bg-color);
    border-color: var(--el-button-border-color);
  }
  &.is-link:focus {
    background: none;
    border: none;
  }
}
.el-button--large {
  font-size: 16px;
}
.el-avatar {
  --el-avatar-bg-color: var(--el-color-primary);
  --el-avatar-size-small: 33px;
  --el-avatar-border-radius: 6px;
  cursor: pointer;
}

.el-form {
  --el-form-inline-content-width: 100%;
}

.el-form-item {
  margin-bottom: 16px;
  .el-form-item {
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
}
.el-form-item__label {
  font-weight: 400;
}

.el-form-item__error {
  position: unset;
  font-size: 14px;
}

.el-form--label-top .el-form-item .el-form-item__label {
  padding-right: 0;
}

.el-dialog {
  --el-dialog-title-font-size: 16px;
  --el-dialog-padding-primary: 24px;
  --el-dialog-content-font-size: 14px;
  .dialog-sub-title {
    color: var(--app-text-color-secondary);
    margin: 5px 0;
    font-weight: 400;
  }
  .el-dialog__body {
    color: var(--app-text-color);
  }
}
.el-dialog__headerbtn {
  top: 6px;
}
.el-dialog__header {
  padding-bottom: 24px;
  font-weight: 500;
}
.el-dialog__footer {
  padding-top: 0;
}

.el-message {
  --el-message-close-icon-color: var(--app-text-color-secondary);
}
.el-message-box {
  --el-messagebox-font-size: 16px;
  padding: 24px;
  .el-message-box__header {
    padding: 0;
  }
  .el-message-box__title {
    word-break: break-all;
    width: 95%;
  }
}

.el-message-box__content {
  padding: 24px 0;
  color: var(--app-text-color);
  font-weight: 400;
}
.el-message-box__btns {
  padding: 0;
  button {
    min-width: 80px;
    &:nth-child(2) {
      margin-left: 12px;
    }
  }
  button.danger {
    background: var(--el-color-danger);
    border: var(--el-color-danger);
    color: #ffffff;
  }
}
.el-message-box__headerbtn {
  right: 10px;
  top: 15px;
  .el-message-box__close {
    font-size: 20px;
  }
}

.el-card {
  --el-card-padding: calc(var(--app-base-px) * 2);
}
.el-dropdown {
  color: var(--app-text-color);
}
.el-dropdown-menu__item {
  color: var(--app-text-color);
  font-weight: 400;
  padding: 5px 11px;
  &:not(.is-disabled):focus,
  &:not(.is-active):focus {
    background-color: var(--app-text-color-light-1);
    color: var(--app-text-color);
  }
  &.is-active,
  &.is-active:hover {
    color: var(--el-menu-active-color);
    background: var(--el-color-primary-light-9);
  }
}

.el-tag {
  --el-tag-border-radius: 2px;
  height: 24px;
  padding: 0 6px;
}
.el-table {
  --el-table-header-bg-color: var(--app-layout-bg-color);
  --el-table-text-color: var(--app-text-color);
  font-weight: 400;
  thead {
    color: var(--app-text-color-secondary);
    th {
      font-weight: 500;
    }
  }

  th.el-table__cell {
    border-top: var(--el-table-border);
  }
  .el-table__cell {
    padding: 12px 0;
  }
  .el-checkbox {
    height: 23px;
  }
  tr.highlight {
    background: var(--el-table-current-row-bg-color);
  }
}

.el-pagination .el-select .el-input {
  width: 100px;
}

/* el-steps */
.el-step__icon {
  background: none;
}
.el-step__head.is-process {
  .el-step__icon {
    &.is-text {
      color: #ffffff;
      border-color: var(--el-color-primary) !important;
      background: var(--el-color-primary) !important;
    }
  }
}

.el-text {
  font-weight: 400;
}

.el-switch {
  height: auto;
}

.el-slider {
  --el-slider-button-size: 14px;
  --el-slider-height: 4px;
}
.el-slider__button {
  border: solid 1px var(--app-border-color-dark);
  &.hover {
    border: solid 2px var(--el-slider-main-bg-color);
  }
}
.el-slider__runway.show-input {
  margin-right: calc(var(--app-base-px) + 4px);
}
.el-slider__input {
  width: 72px;
}

.input-with-select {
  .el-input-group__prepend {
    background-color: var(--el-fill-color-blank);
  }
}
.el-textarea {
  --el-input-placeholder-color: var(--app-input-color-placeholder);
}
.el-textarea__inner {
  font-size: 14px;
}
.el-input {
  --el-input-icon-color: var(--app-text-color-secondary);
  --el-input-placeholder-color: var(--app-input-color-placeholder);
}

.el-input__inner {
  font-size: 14px;
}

.el-input__wrapper {
  padding: 1px 12px !important;
}

.el-input--large {
  .el-input__inner {
    font-size: 16px;
  }
}

.el-select__placeholder.is-transparent {
  color: var(--app-input-color-placeholder);
  font-weight: 400;
}

.el-select-group .el-select-dropdown__item {
  padding-left: 11px;
}

.el-select__caret {
  color: var(--app-text-color-secondary);
}
.el-tabs__header {
  margin: 0 0 12px;
}
.el-tabs__item {
  padding: 0 14px;
}

.el-drawer {
  .el-drawer__header {
    padding: 16px 24px;
    margin: 0;
    border-bottom: 1px solid var(--el-border-color);
    color: var(--app-text-color);
  }
  .el-drawer__footer {
    border-top: 1px solid var(--el-border-color);
    padding: 16px 24px;
  }
}

.el-cascader-node {
  padding-left: 2px;
}
.el-cascader-node__prefix {
  right: 10px;
  left: auto;
}

// 自动补全增加暂无数据
.platform-auto-complete {
  .el-autocomplete-suggestion__wrap {
    padding: 5px 0;
    ul li {
      pointer-events: none; // 阻止可点击事件
      .default {
        text-align: center;
        color: #999;
      }
      &:hover {
        background-color: #fff;
      }
    }
  }
}

.el-popover {
  --el-popover-padding: 16px;
}

.el-radio {
  --el-radio-font-weight: 400;
}
.el-radio__input.is-checked + .el-radio__label {
  color: var(--app-text-color);
}

.el-input-number.is-controls-right .el-input__wrapper {
  padding-left: 15px !important;
  padding-right: 42px !important;
}

.el-input-number.is-without-controls .el-input__wrapper {
  padding-left: 12px !important;
  padding-right: 12px !important;
}

// select下拉框
.select-popper {
  max-width: 300px;
  .el-select-dropdown__wrap {
    max-width: 300px;
  }
}

.auto-tooltip-popper {
  max-width: 500px;
}

// radio 一行一个样式
.radio-block {
  width: 100%;
  display: block;
  .el-radio {
    align-items: flex-start;
    height: 100%;
    width: 100%;
  }
  .el-radio__label {
    width: 100%;
    margin-top: -8px;
    line-height: 30px;
  }
}

// 提示横幅
.el-alert--warning.is-light {
  background-color: #ffe7cc;
  color: var(--app-text-color);
  font-weight: 400;
  .el-alert__icon {
    color: #ff8800;
  }
}
