:root {
  --el-border-color: var(--mk-N350);
  --el-border-radius-base: 6px;
  --el-border-radius-round: 16px;
  --el-border-radius-small: 4px;
  --el-color-primary: var(--mk-primary);
  --el-color-primary-dark-2: color-mix(in srgb, var(--mk-primary) 80%, black);
  --el-color-primary-light-3: color-mix(in srgb, var(--mk-primary) 70%, white);
  --el-color-primary-light-5: color-mix(in srgb, var(--mk-primary) 50%, white);
  --el-color-primary-light-7: color-mix(in srgb, var(--mk-primary) 30%, white);
  --el-color-primary-light-8: color-mix(in srgb, var(--mk-primary) 20%, white);
  --el-color-primary-light-9: color-mix(in srgb, var(--mk-primary) 10%, white);
}

/* button */
.el-button {
  --el-button-font-weight: 400 !important;
  height: auto;
  padding: 7px 12px;
  &.is-round {
    padding: 7px 12px;
  }
  &.is-text {
    line-height: 18px;
    padding: 4px;
  }
  &.is-text:not(.is-disabled):hover {
    background: rgb(var(--mk-N900-rgb) / 10%);
  }
  // 自定义maxkb渐变色按钮
  &.bg-primary-gradient {
    --el-button-active-text-color: white !important;
    --el-button-hover-text-color: white !important;
    --el-button-text-color: white !important;
    border: none;
    padding: 8px 12px !important;
  }
}
.el-button [class*='el-icon'] + span {
  margin-left: 4px;
}

/* divider */
.el-divider {
  margin: 0;
}

/* dropdown */
.el-dropdown {
  color: currentColor;
}
.el-dropdown__popper {
  --el-dropdown-menu-box-shadow: 0px 4px 8px 0px var(--mk-N900-transparent-10);
  --el-popper-border-radius: 6px;
  border: 1px solid var(--mk-N300) !important;
  font-size: var(--mk-font-size-base);
}
.el-dropdown-menu {
  padding: 4px;
}

.el-dropdown-menu__item {
  border-radius: var(--el-border-radius-small);
  gap: calc(var(--spacing) * 2);
  min-width: 80px;
  padding: 5px 8px;
  i {
    font-size: var(--mk-font-size-lg);
    margin-right: 0;
  }
  &:not(.is-disabled):hover {
    background-color: var(--mk-N900-transparent-10);
    color: var(--mk-N900);
  }
  &:not(.is-disabled):focus,
  &:not(.is-active):focus {
    background-color: var(--mk-N900-transparent-10);
    color: currentColor;
  }
  // 自带的分割线与设计不符合禁止使用
  &--divided {
    display: none;
  }
}
/* menu */
.el-menu {
  background: none !important;
  border: none !important;
}
