@import 'element-plus/dist/index.css';
@import './variables.scss';
@import './app.scss';
@import './element-plus.scss';
@import 'nprogress/nprogress.css';
@import 'highlight.js/styles/default.css';
@import 'md-editor-v3/lib/style.css';
@import './md-editor.scss';