.md-editor-preview {
  padding: 0;
  margin: 0;
  font-size: inherit;
  p {
    padding: 0 !important;
  }
  .md-editor-admonition {
    margin: 0;
    padding: 0;
  }
  img {
    border: 0 !important;
  }
}

.md-editor-preview-wrapper {
  padding: 0;
}
