.md-editor {
  font-weight: 400;
}

.md-editor-preview {
  padding: 0;
  margin: 0;
  font-size: inherit;
  table{
    display: block;
  }
  p {
    padding: 0 !important;
  }
  .md-editor-admonition {
    margin: 0;
    padding: 0;
  }
  img {
    border: 0 !important;
    max-width: 360px !important;
  }
}

@media only screen and (max-width: 768px) {
  .md-editor-preview {
    img {
      max-width: 100% !important;
    }
  }
}

.md-editor-preview-wrapper {
  padding: 0;
}

.md-editor-footer {
  height: auto !important;
}

.Í¼1 .cm-placeholder {
  color: var(--app-input-color-placeholder);
  font-size: 14px;
  font-weight: 400;
}
