@import "tailwindcss";

@theme {
  --font-sans: Inter, "PingFang SC", "Microsoft YaHei", Arial, sans-serif;
  --color-maxkb-primary: #5b6cff;
  --color-maxkb-success: #22c55e;
  --color-maxkb-warning: #f59e0b;
  --color-maxkb-danger: #ef4444;
  --color-maxkb-text: #232a35;
  --color-maxkb-bg: #f7f9fc;
}
