:root {
  --el-color-primary: #3370ff;
  --app-layout-bg-color: #f5f6f7;
  --app-text-color-primary: #1f2329;
  --app-text-color-secondary: #646a73;
  --app-view-padding: 24px;
  --app-view-bg-color: #ffffff;

  /** header 组件 */
  --app-header-height: 56px;
  --app-header-padding: 0 20px;
  --app-header-bg-color: linear-gradient(90deg, #ebf1ff 24.34%, #e5fbf8 56.18%, #f2ebfe 90.18%);
  --app-logo-color: linear-gradient(180deg, #3370ff 0%, #7f3bf5 100%);
  /** sidebar 组件 */
  --sidebar-bg-color: #ffffff;
  --sidebar-width: 240px;
  /** tag */
  --tag-deflaut-bg: rgba(51, 112, 255, 0.2);
  --tag-deflaut-color: #2b5fd9;
  /** card */
  --card-width: 330px;
  --card-min-height: 160px;
  --card-min-width: 220px;

  /** team */
  --team-manage-left-width: 280px;
}
