:root {
  --app-base-px: 8px;
  --app-layout-bg-color: #f5f6f7;
  --app-text-color: #1f2329;
  --app-text-color-light-1: rgba(31, 35, 41, 0.1);
  --app-text-color-secondary: #646a73;
  --app-text-color-disable: #bbbfc4;
  --app-input-color-placeholder: #8f959e;
  --app-view-padding: 24px;
  --app-view-bg-color: #ffffff;
  --app-border-color-dark: #bbbfc4;
  --md-bk-hover-color:var(--el-border-color-hover);
  /** header 组件 */
  --app-header-height: 56px;
  --app-header-padding: 0 20px;
  --app-header-bg-color: linear-gradient(90deg, #ebf1ff 24.34%, #e5fbf8 56.18%, #f2ebfe 90.18%);
  --app-logo-color: linear-gradient(180deg, #3370FF 0%, #7f3bf5 100%);
  --app-avatar-gradient-color: linear-gradient(270deg, #9258f7 0%, #3370FF 100%);

  /* 计算高度 */
  --app-main-height: calc(100vh - var(--app-header-height) - var(--app-view-padding) * 2 - 40px);

  /** sidebar 组件 */
  --sidebar-bg-color: #ffffff;
  --sidebar-width: 240px;
  /** tag */
  --tag-default-bg: rgba(51, 112, 255, 0.2);
  --tag-default-color: #2b5fd9;
  --tag-success-bg: rgba(52, 199, 36, 0.2);
  --tag-success-color: #2ca91f;
  --tag-warning-bg: rgba(255, 136, 0, 0.2);
  --tag-warning-color: #d97400;
  --tag-danger-bg: rgba(245, 74, 69, 0.2);

  /** card */
  --card-width: 330px;
  --card-min-height: 166px;
  --card-min-width: 220px;

  /** setting */
  --setting-left-width: 280px;

  /** dataset */
  --create-dataset-height: calc(var(--app-main-height) - 70px);

  /** ai-chat */
  --dialog-bg-gradient-color: linear-gradient(
      188deg,
      rgba(235, 241, 255, 0.2) 39.6%,
      rgba(231, 249, 255, 0.2) 94.3%
    ),
    #eff0f1;
}
